@CHARSET "ISO-8859-1";

body{
	background-color:#d9e8f5;
}

#viz .panel {
	background-color: #fff;
}

.panel h4{
	margin: 0;
	padding: 0;
}


.top-bar{
	background-color: #305269;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #305269;
}

#map{
	height:100%;
	width:100%;
}

#chart{
	height:100%;
	width:100%;
}

hr{
	margin: 5px;
}

.step{
	background-color: #ccc;
	padding-left: 5px;
}
