@CHARSET "ISO-8859-1";

body{
	background-color:#d9e8f5;
}

#viz .panel {
	background-color: #fff;
}

.panel h4{
	margin: 0;
	padding: 0;
}


.top-bar{
	background-color: #305269;
}

#map{
	height:500px;
	width:100%;

}

hr{
	margin: 5px;
}

