@CHARSET "ISO-8859-1";

html, body {
	height: 100%
}

header{
	height: 10%;
	
}


#column{
	float:left;
	height: 90%;
	width: 24%;
	background-color: red;
}

#container{
	float: right;
	height:90%;
	width:74%;
	background-color: green;
}

#map{
	height:50%;
	width:50%;
	background-color: blue;
}


footer{
	
	
}